body {
 background-image: url("31258502484_59cf226b4f_k.jpg");
  background-repeat: no repeat;
  background-size: cover;
  transform: rotate: (180deg);
  margin: 0;
  background-position: center;
}

div {
  background: #1044ff;
  padding: 20px;
  text-align: left;
  padding-left: 500px;
  padding-right: 500px
}

h1 {
  font-family: "new-spirit", serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 50px;
}

h6 {
  color: white;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: white;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}
.block {
  background-color: #00ef04;
  block-size: 1px;
}

.more {
  position: absolute;
  left: 1300px;
  top: 550px;
  color: #00ef04;
  border-radius: 25px;
  background: black;
  border: 2px solid #00ef04;
  padding: 20px; 
  width: 150px;
  height: 30px;
  text-align: center;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arch {
  position: absolute;
  left: 1300px;
  top: 650px;
  color: #00ef04;
  border-radius: 25px;
  background: black;
  border: 2px solid #00ef04;
  padding: 20px; 
  width: 150px;
  height: 30px;
  text-align: center;
  font-family: "franklin-gothic-atf", sans-serif;
  font-weight: 400;
  font-style: normal;
}